* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: #393E46;
}

.container{
    width: 100%;
    /* border: 2px solid brown; */
    font-family: sans-serif;
}

.digital{
    /* border: 2px solid black; */
    position: relative;
    left: 24%;
    top: 110px;
}

.clock{
    width: 690px;
    height: 430px;
    padding: 50px;
    border-radius: 40px;
    /* background-color:#393E46; */
    background-color:#393E46;
}

h2{
    margin-left: 135px;
    margin-top: 5px;
    width: fit-content;
    padding: 10px;
    color:  #FF2E63;
    font-size: 20px;
    border-radius: 5px;
    background-color: #fff;
}

p{
    font-size: 25px;
    margin-right: 30px;
    text-align: center;
    margin-top: -10px;
    margin-left: 20px;
    text-align: center;
    color:#EEEEEE;
}

#mini{
    margin-left: 160px;
}

#sec{
    margin-left: 138px;
}

h1{
    /* border: 2px solid black; */
    width: 150px;
    margin-left: -80px;
    font-size: 100px;
    margin-top: -30px;
    /* color: #EEEEEE; */
    color: #FF2E63;
    padding: 10px;
    padding: 40px;
    border-radius: 20px;
}

#sp1{
    /* border: 2px solid black; */
    margin-left: 30px;
    padding: 10px;
    background-color: #000;

}
#sp2{
    margin-left: 30px;
    font-size: 120px;
    

}
#sp3{
    /* border: 2px solid black; */
    margin-left: 30px;
    padding: 10px;
    background-color: #000;
}
#sp4{
    margin-left: 30px;
    font-size: 120px;

    
}
#sp5{
    /* border: 2px solid black; */
    margin-left: 30px;
    padding: 10px;
    background-color: #000;
    
}

@media screen and (max-width:768px){
    .digital{
        left: 45px;
        top: 350px;

    }
}

@media screen and (width:2456px){
    .digital{
        zoom: 40%;
    }
}