* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    /* background:linear-gradient(135deg,#00ADB5,#F9ED69,#F38181,#00ADB5); */

}

.container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

p{
    font-size: 20px;
    margin-right: 140px;
    text-align: center;
    color: #fff;
}

h1{
    border: 2px solid #393E46;
    width: 52vw;
    font-size: 85px;
    /* color:linear-gradient(135deg, #3282B8,#14ffe9,#CCA8E9);; */
    padding: 20px;
    background-color: #393E46;
    border-radius: 20px;
    color: #fff;
    
}

#mini{
    margin-left: 90px;
}

#sec{
    margin-left: 80px;
}


h1:hover{
    background-color: #2192FF;
}

#hrs{
   
    margin-left: 60px;
    padding: 5px;
   
}

#Minits{
  
    padding: 5px;
   
}

#session{
    font-size: 60px;
    background-color: #2192FF;
    padding: 2px;
    font-family: sans-serif;
    
}

#seconds{
    padding: 5px;
   
    
}

#date{
    margin-top: 20px;
}
/* 
@media screen and (max-width:768px){
    .digital{
        left: 45px;
        top: 350px;

    }
}

@media screen and (width:2456px){
    .digital{
        zoom: 40%;
    }
} */