* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #393E46;
}

.container{
    height: 100%;
    width: 100%;
}

#pl1{
    position: absolute;
    top: 10%;
    left: 18%;
    font-size: 50px;
    color: #F08A5D;
}

#p1value{
    position: absolute;
    top: 50%;
    left: 22%;
    font-size: 50px;
    color: #fff;
}

#btnp1{
    position: absolute;
    top: 75%;
    left: 17.5%;
    font-size: 50px;
    /* border-color: whitesmoke; */
    border-radius: 25px;
    padding: 5px; 
}

#pl2{
    position: absolute;
    color: #F67280;
    top: 10%;
    right: 18%;
    font-size: 50px;

}

#p2value{
  position: absolute;
  top: 50%;
  right: 23%;
  font-size: 50px;
  color: #fff;
}

#btnp2{
    position: absolute;
    top: 75%;
    right: 17.5%;
    font-size: 50px;
    /* border-color: whitesmoke; */
    /* border: none; */
    border-radius: 25px;
    padding: 5px;
}

button:hover{
    border-color: #B1B2FF;
}

#btnp2:active{
    background-color: #B1B2FF;
    color: #FF2E63;
}
#btnp1:active{
    background-color: #B1B2FF;
    color: #FF2E63;
}

#p1vsp2{
    position: absolute;
    top: 50%;
    left: 47.5%;
    color: #FF2E63;
    font-size: 40px;
}

#boy{
    width: 7vw;
    height: 14vh;
    position: absolute;
    top: 25%;
    left: 21%;
    font-size: 50px;
    border-radius: 25px;
    padding: 2px;
}
#girl{
    width: 7vw;
    height: 14vh;
    position: absolute;
    top: 25%;
    right: 21.5%;
    font-size: 50px;
    border-radius: 25px;
    padding: 2px;
}