*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{

    border: 2pex solid red;
}

header{

    min-height: 80px;
    width: 100%;
    background-color:#7e7eff;
    font-family: sans-serif;
}

.navbar{

    width: 90%;
}

#logo{

    margin: 1vh 4vw;
    font-size: larger;
    padding: 5px;
    float: left;
}

nav{

    float: right;
    padding: 15px;
    margin-top: 1rem;
}
.intro-heder{

    min-height: 55vh;
    padding: 4px;
    text-align: center;
    font-family: sans-serif;
}

h2{

    margin-top: 2.5rem;
    margin-bottom:4.5vh;
    font-size: 3.2rem;
}
#p1{

   font-weight: 400;
   padding: 5px;
   font-size:x-large;
   margin-bottom: 20px;
}
span{

    font-size:xx-large;
    font-weight: bold;
}

#sp1{

    color: #7e7eff;
}

#sp2{
    color:orange;
}

button{

    margin: 8vh;
    padding: 13px;
    font-size: 1.5em;
    font-weight: bolder;
    background-color:#7e7eff;
    color: white;
    border: none;
    border-radius: 10px;
    
}

.clients{

    background-color: blanchedalmond;
    min-height: 87vh ;
    margin: auto;
    text-align: center;
}

.clients img{

    height: 35vh;
    margin: 0 2vw;
}

h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 40px;
}

.services{

    min-height:74vh;
    margin: 2px 40px;
    
 }

.services img{

    height: 28vh;
    align-items: center;
    margin: 0 1.2vw;
 }

h4{

    text-align: center;
    font-size: 2.5rem;
    padding: 25px;
 }
.pera{
    
    width: 24rem;
    padding: 5px;
    margin: 1vh 0.4vw;
    font-size: 24px; 
    text-align: center;
    display: inline-block;
 }
 
#hpart{

    color:orange;
    
}

nav a{

    color: white;
    text-decoration: none;
    margin: 1em;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
}

footer{

    background-color:#7e7eff;
    min-height: 11vh;
    text-align: center;

}
footer p{

    font-family: sans-serif;
    padding: 1.5rem;
    font-stretch: expanded;
    font-size: 1em;
    font-stretch:ultra-expanded;
    color: white;
    
}

@media screen and (max-width:915px){

    .navbar{

        display: inline-block;
        
    }

    nav{

        margin: 1em 1em;
        padding:1em 8.5em ;
        text-align: center;
    }
    
    #logo{
        margin-left: 19vw;
        font-size: x-large;
     }
}

@media screen and (max-width:780px){
 
    nav{

        margin: 5px;
        text-align: center;
    }

    .services{
        margin: 0;
        padding: 0%;
        width: 100vw;
    }
    .pera{
        margin: 5px 0;
        padding: 0%;
        width: 20rem;
    }

    .services img{

        margin: 0;
    }

    header{

        margin: 0;
    }

    .navbar a{
        float: left;
    }

    
    
}
