*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 1000px;
    width: 1000px;
    background-color: black;
}
#box1{
    background-color: blue;
    width: 30vw;
    height: 20vh;
   
}
#box1:active{
    box-shadow: 10px 10px red;   
}
#box2{
    background-color: aqua;
    width: 30vw;
    height: 20vh;
}
#box3{
    background-color: blanchedalmond;
    width: 30rem;
    height: 20rem;
}
#box4{
    background-color: brown;
    width: 30em;
    height: 20em;
}