/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}*/

body{
    background-color: beige;
}

header{
    font-family: sans-serif;
    text-align: center;
    background-color: #7fff;
    padding: 05px;
    margin:-8px -8px;
    position: sticky;
    top: 0;
}
nav a{
    margin: 10px;
    float: right;
    margin-right: 15px;
}
